.bg-hero-image {
    background-image: url('https://picsum.photos/1300/500');
    background-position: center center;
}
#herotext {
    font-family: papyrus;
    text-decoration: underline;
}
p {
    font-family: lucida handwriting;
}
h5 {
    font-family: papyrus;
    font-weight: bold;
    text-decoration: underline;
}
#navtext {
    font-family: lucida handwriting;
    text-decoration: underline;
    margin-left: 10px;
}
.btncard{
    cursor:pointer;
      position:relative;
      padding:10px 20px;
      background:black;
      font-size:18px;
      color: white;
      font-weight: bold;
      font-family: monospace;
      text-decoration: 0;
      border-top-right-radius:10px;
      border-bottom-left-radius:10px;
      transition:all 1s;
      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all 1s;
        }
      &:after{
        top:-1px;
        left:-1px;
        border-top:5px solid #7D7874;
        border-left:5px solid #7D7874;
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid #7D7874;
        border-right:5px solid #7D7874;
      }
      &:hover{
        border-top-right-radius:0px;
      border-bottom-left-radius:0px;
        / background:rgba(0,0,0,.5);
        / color:white;
        &:before,&:after{
          
          width:100%;
          height:100%;
          / border-color:white;
        }
      }
    }

    body {
      min-height: 100vh;
      display: grid;
      grid-template-rows: 1fr auto;
    }
    
    footer {
      margin-top: auto;
    }